
/* Base CSS */

.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width:100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: normal;
    font-family:'CodeLight', sans-serif;
}


a:hover, a:focus { text-decoration: none }

/* Remove Chrome Input Field's Unwanted Yellow Background Color */
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}



/* ---------------------------- Secton css start  ---------------------- */
html,
body { height: 100% ;
font-family: 'Karla', sans-serif; 
}
@font-face{font-family:'CodeBold';
src:url('../fonts/CODEBold.eot');
src:url('../fonts/CODEBold.eot?#iefix&v=4.6.3')
 format('embedded-opentype'),url('../fonts/CODEBold.woff2') 
 format('woff2'),url('../fonts/CODEBold.woff') 
 format('woff'),url('../fonts/CODEBold.ttf') 
 format('truetype'),url('../fonts/CODEBold.svg#CodeBold') 
 format('svg');font-weight:normal;font-style:normal
}

@font-face{font-family:'CodeLight';
src:url('../fonts/CODELight.eot');
src:url('../fonts/CODELight.eot?#iefix&v=4.6.3')
 format('embedded-opentype'),url('../fonts/CODELight.woff2') 
 format('woff2'),url('../fonts/CODELight.woff') 
 format('woff'),url('../fonts/CODELight.ttf') 
 format('truetype'),url('../fonts/CODELight.svg#CodeLight') 
 format('svg');font-weight:normal;font-style:normal
}


#sliders-wrap{ background-image:url(../images/hero-bg.jpg);}
.product-bg-1{ background-image:url(../images/lady1.png); }
.product-bg-2{ background-image:url(../images/lady2.png); }
.product-bg-3{ background-image:url(../images/lady3.png); }
.product-bg-4{ background-image:url(../images/lady4.png); }
.product-bg-5{ background-image:url(../images/lady5.png); }
.product-bg-6{ background-image:url(../images/lady6.png); }
.product-bg-7{ background-image:url(../images/lady7.png); }
.product-bg-8{ background-image:url(../images/lady8.png); }
.product-bg-9{ background-image:url(../images/lady9.png); }
.product-bg-10{ background-image:url(../images/lady10.png); }



#header-top-area a {
    color: #5b3f61;
    display: inline-block;
    padding: 15px;
}
#header-top-area {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
}
.header-left ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    float: left;
}
.header-left ul li {
    display: inline-block;
}
.header-right {
    text-align: right;
}
.search-trigger i.fa {
    padding-left: 10px;
}


.single-slide {
    position: relative;
}
.single-slide img {
    bottom: 0;
    left: 50%;
    margin-left: -310px;
    position: absolute;
    width: 620px;
}
#sliders-wrap{
    background-color: #e9d5ce;
    background-position: center;
    background-size: cover;
    height: 100%;
}
#sliders-wrap div {
    height: 100%;
}
.slide-caption-table {
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 9;
}
.slide-caption-tablecell {
    color: #e84f88;
    display: table-cell;
    font-family: "CodeLight",sans-serif;
    font-size: 120px;
    line-height: 110px;
    padding-left: 15%;
    vertical-align: middle;
}
.slide-caption-tablecell strong {
    font-family: "CodeBold",sans-serif;
    font-style: italic;
    font-weight: normal;
}
.alter-color {
    color: #6db0c6;
}



.big-menu {
    list-style: outside none none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.big-menu > li {
    background: #ecf3e8 none repeat scroll 0 0;
    float: left;
    font-family: "CodeLight",sans-serif;
    font-size: 50px;
    width: 30%;
}
.big-menu li a {
    color: #5b4060;
    display: block;
    padding: 170px 30px 30px;
    
}
.big-menu > li:nth-child(1){
    text-align: right;
}
.big-menu > li:nth-child(2) a {
    color: #e55288;
    font-family: "CodeBold";
}
.big-menu > li:nth-child(2) {
    background: #f0e5e5 none repeat scroll 0 0;
}
.big-menu > li:nth-child(2), .big-menu > li:nth-child(3) {
    width: 20%;
    text-align: right;
}
.big-menu > li:nth-child(3) {
    background-color: #f6f3e6;
}
.big-menu > li:nth-child(4) {
    background-color: #ecf4f5;
    
}
.big-menu > li:hover {
    opacity: 0.7;
}

/* -------------------------- search bar ---------------------*/

#search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background:rgba(37, 35, 35, 0.97);
    
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

    -webkit-transform: translate(0px, -100%) scale(0, 0);
    -moz-transform: translate(0px, -100%) scale(0, 0);
    -o-transform: translate(0px, -100%) scale(0, 0);
    -ms-transform: translate(0px, -100%) scale(0, 0);
    transform: translate(0px, -100%) scale(0, 0);
    
    opacity: 0;
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
    -o-transform: translate(0px, 0px) scale(1, 1);
    -ms-transform: translate(0px, 0px) scale(1, 1);
    transform: translate(0px, 0px) scale(1, 1); 
    opacity: 1;
}

#search input[type="search"] {
    position: absolute;
    top: 50%;
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
}
#search .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 61px;
    margin-left: -45px;
}
#search .close {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    opacity: 1;
    padding: 10px 17px;
    font-size: 27px;
}


/* -------------------  Masonary ----------------- */

#product-area {
    padding-top: 100px;
}
.product-list {
    margin-left: -2%;
    overflow: hidden;
}
.single-product-item {
    background-color: #f7f5f4;
    background-position: center bottom;
    background-repeat: no-repeat;
    float: left;
    height: 300px;
    margin-bottom: 20px;
    margin-left: 2%;
    width: 18%;
}
.single-product-item:nth-child(2) {
    background-color: #f3eceb;
    height: 620px;
    width: 78%;
}
.single-product-item:nth-child(3) {
    background-color: #f3f6f6;
}
.single-product-item:nth-child(6) , .single-product-item:nth-child(8){
   background-color: #f0f5f5
}

.single-product-item:nth-child(4) {
    width: 58%;
}
.single-product-item:nth-child(9) {
    width:38%;
}

.product-top-link a {
    color: #9f8da2;
    display: inline-block;
    padding: 5px;
}
.product-top-link {
    padding: 10px;
    position: relative;
    text-align: right;
}
.product-hover {
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all 0.5s ease 0s;
    width: 100%;
    z-index: 1;
}
.product-hover::after {
    background: #97c6d5 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.product-hover > a {
    border: 2px solid;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    left: 50%;
    line-height: 23px;
    margin-left: -37px;
    margin-top: -76px;
    padding: 5px;
    position: absolute;
    text-align: center;
    top: 50%;
    transition: all 0.3s ease 0s;
    width: 75px;
}
.product-bottom-info {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    padding-top: 10px;
    position: absolute;
    text-transform: uppercase;
    width: 100%;
}
.product-bottom-info h4 {
    font-family: karla;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 0;
}
.product-bottom-info span.product-price {
    bottom: 8px;
    color: #e84f88;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    right: 0;
}
.product-color-box span {
    border: 1px solid #d9d4da;
    display: inline-block;
    height: 10px;
    width: 10px;
}
.color-sep {
}
.product-color-box {
    border-left: 1px solid #908a91;
    padding-left: 10px;
}
.product-color-box .red {
    background: red none repeat scroll 0 0;
    border-color:red;
}
.product-color-box .green {
    background: #99e4e7 none repeat scroll 0 0;
    border-color: #99e4e7;
}
.product-bottom-info p {
    margin: 0;
}
.product-bottom-info:hover .product-hover {
    opacity: 1;
}
.single-product-item:hover .product-hover {
    opacity: 1;
}
.single-product-item:hover .product-hover a {
    margin-top: -38px;
}
.single-product-item:hover .product-top-link a {
    color: #fff;
}
.single-product-item:hover .product-top-link {
    z-index: 99;
}


.product-btn {
    background: #f9f9f8 none repeat scroll 0 0;
    color: #e84f88;
    display: block;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 140px;
    margin-top: 50px;
    padding: 30px;
    text-align: center;
}

.product-btn {
    background: #f9f9f8 none repeat scroll 0 0;
    color: #e84f88;
    display: block;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 140px;
    margin-top: 50px;
    padding: 30px;
    text-align: center;
}
.product-promo {
    background: #f8f5f5 none repeat scroll 0 0;
}
.promo-bg {
    background: #f4f0f0 none repeat scroll 0 0;
}
.promo-content {
    line-height: 2;
    padding: 33px 122px 31px 40px;
}
.promo-title {
    color: #e84f88;
    margin-bottom: 30px;
    position: relative;
}
.promo-title h2 {
    font-size: 36px;
    margin: 0 0 5px;
}
.promo-title h2 strong {
    font-family: CodeBold;
    font-weight: normal;
}
.promo-title .year-text {
    color: #51abc8;
    font-family: CodeBold;
    font-size: 110px;
    left: 37%;
    opacity: 0.2;
    position: absolute;
    top: -45px;
}
.promo-btn {
    background: #51abc8 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-weight: 700;
    height: 35px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    width: 100px;
}

.brand-images {
    margin-top: 110px;
    text-align: center;
}
.footer-area {
    background: #f4f4f4 none repeat scroll 0 0;
    margin-top: 50px;
    padding: 50px;
}
.footer-menu {
    margin-top: 30px;
}
.footer-menu ul {
    font-weight: 700;
    list-style: outside none none;
    margin: 0 0 5px;
    padding: 0;
    text-transform: uppercase;
}
.footer-menu ul li {
    display: inline-block;
    padding-right: 30px;
}

.footer-area, .footer-area a {
    color: #939393;
}
.social-menu a {
    font-size: 120%;
    padding-left: 15px;
}
.social-menu {
    margin-bottom: 10px;
}
.email-form input [type="email"] {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
}
.email-form input[type="email"] {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ddd;
  padding: 10px;
  width: 240px;
}
input[type="submit"] {
    background: #e84f88;
    border: medium none;
    color: #fff;
    font-size: 15px;
    padding: 10px 30px;
    text-transform: uppercase;
}


.owl-carousel .owl-item .single-slide > img {
    width: auto;
}
#sliders-wrap .owl-nav, #sliders-wrap .owl-nav div {
    height: auto;
}
#sliders-wrap .owl-nav div {
    font-size: 20px;
    left: 0%;
    opacity: 0;
    transition: 0.5s;
    line-height: 40px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
}
#sliders-wrap:hover .owl-nav div{
left: 5%;
opacity: 1;
}

#sliders-wrap .owl-nav .owl-next {
    left: auto;
    right: 0%;

}
#sliders-wrap:hover .owl-nav .owl-next{
 right: 5%;
 left: auto;
}


.single-promo img {
    width: auto !important;
}
.product-promo .owl-dots div {
    background: #d3cece none repeat scroll 0 0;
    border-radius: 50%;
    height: 15px;
    margin-bottom: 10px;
    width: 15px;
}
.product-promo .owl-dots div.active {
    background: #e84f88 none repeat scroll 0 0;
}

.product-promo .owl-dots {
    margin-top: -25px;
    position: absolute;
    right: 5%;
    top: 50%;
}


.off-canvus-menu {
    background: #373A47;
    height: 100%;
    padding: 45px;
    position: fixed;
    width: 300px;
    z-index: 999;
    margin-left: -300px;
    transition: 0.3s;
}
.off-canvus-menu.active{
    margin-left: 0;
} 
.off-canvus-menu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    padding-top: 40px;
}
.off-canvus-menu li a {
    border-bottom: 1px solid #333;
    color: #b8b7ad;
    display: block;
    padding: 16px 0;
    font-size: 18px;
    font-weight: 700;
    transition: 0.3s;
}
.off-canvus-menu li:hover a{
    color:#E84F88;
}
.menu-close {
    color: #b8b7ad;
    cursor: pointer;
    font-size: 18px;
    padding: 25px;
    position: absolute;
    right: 0;
    top: 0;
}
.off-canvus-overlay {
    background: #444 none repeat scroll 0 0;
    height: 100%;
    opacity: 0;
    position: fixed;
    width: 100%;
    z-index: -1;
    transition: 0.3s;
}
.off-canvus-overlay.active{
    z-index: 99;
    opacity: 0.7;
}

#header-top-area a.menu-trigger {
    float: left;
}

#header-top-area a.menu-trigger span {
    background: #E84F88;
    display: block;
    height: 1px;
    margin-bottom: 7px;
    width: 30px;
}
#header-top-area a.menu-trigger span:nth-child(2) {
    width: 15px;
}
#header-top-area a.menu-trigger span:nth-child(3) {
    width: 20px;
}


